body{
    font-family: sans-serif;
    background-color: #e7f3e6;
}
main {
    display: flex;
    gap: 32px;
    padding: 32px;
}
.form-group {
display: flex;
flex-direction: column;
margin-bottom: 1rem; 
color: #fffefd;
}
label {
margin-bottom: 0.5rem; 
}
input {
padding: 0.5rem; 
border: 1px solid #ccc; 
border-radius: 4px; 
}
.b {
    display: flex;
    gap: 32px;
}
.c{
    text-align: center;
    background-color: #6db579;
    padding: 10px;
    color: #6f4815;
}
.d{
    text-align: center;
    color: #604a4a;
}
.f{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: column;
    color: #6f4815;
    font-size: large;
}
#result-bmi {
    font-size: xxx-large;
    font-family: math;
    color: #6f4815;
}
.main-header {
    text-align: center;
    padding: 15px;
    background-color: #6db579;
    color: #ffffff;
    margin: 20px 0; /* Ruang di luar elemen */
    border-radius: 8px; /* Sudut yang membulat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #6db579;
    margin: 20px 0; /* Ruang di luar elemen */
    border-radius: 8px; /* Sudut yang membulat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
}
form {
    background-color: #6db579;
    padding: 32px;
    margin: 20px 0; /* Ruang di luar elemen */
    border-radius: 8px; /* Sudut yang membulat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    text-align: center;
}
#status-description {
    margin-left: 20px; /* Memberikan jarak antara hasil BMI dan keterangan status */
    font-weight: bold; /* Menebalkan teks keterangan status */
    color: #333; /* Warna teks keterangan status */
}
button{
    border: none;
    padding: 8px;
    color: #ffffff;
}
.bg-a{
    background-color: #6b8775;
    border-radius: 4px;
}
.bg-b{
    background-color: #2e3832;
    border-radius: 4px;
}
.introduction {
    background-color: #f7fff6; 
    padding: 20px; /* Ruang di dalam elemen */
    margin: 20px 0; /* Ruang di luar elemen */
    border-radius: 8px; /* Sudut yang membulat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    font-size: 1.1em; /* Ukuran font yang sedikit lebih besar */
    line-height: 1.6; /* Jarak antar baris yang lebih baik */
    color: #604a4a;
}